

  /* @import url('https://fonts.googleapis.com/css?family=Roboto:700,900'); */
  
  body {
    /* background: radial-gradient(#fff, #aaa); */
    background-size: 100vw 100vh; 
    background-color: #C7BFBD;
    overflow: hidden;
    padding-top: 40vh;
  }

  :root {
    --color-green: #009B3A;
    --color-yellow: #FFD700;
    --color-red: #EE2737;
    --gradient-primary: linear-gradient(120deg, var(--color-green), var(--color-red));
    --gradient-secondary: linear-gradient(45deg, var(--color-yellow), var(--color-green));
    --gradient-accent: linear-gradient(60deg, var(--color-red), var(--color-yellow));
  }
  
  .name {
    text-align: center;
    /* font-family: 'Roboto'; */
    font-family: "Bebas Neue", sans-serif;
    /* font-size: 12vmin; */
    font-size: 35px;
    font-weight: 700;
    /* margin-bottom: 40px; */
    animation: shadow_style 3s infinite;
    outline: none;
    /* white-space: nowrap; */
    /* color: #889dcc; */

    line-height: 1.1;
    /* text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2); */
    display: block;
    /* margin-bottom: 1rem; */
    margin-bottom: 40px ;

  }
  .name div {
    position: absolute;
    color: transparent;
    background: linear-gradient(
        45deg,
        var(--color-green) 0%,
        var(--color-yellow) 50%,
        var(--color-red) 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
    width: 100%;
  }

  .name::after {
    content: "ADNAM KOUD DEMAURISA \A DEVELOPPEUR FRONT-END";
    color: transparent;
    white-space: pre;
    text-shadow: rgb(170, 170, 170) 1px 1px, rgb(170, 170, 170) 2px 2px, rgb(170, 170, 170) 3px 3px, rgb(170, 170, 170) 4px 4px, rgb(170, 170, 170) 5px 5px, rgb(170, 170, 170) 6px 6px, rgb(170, 170, 170) 7px 7px, rgb(170, 170, 170) 8px 8px, rgb(170, 170, 170) 9px 9px, rgb(170, 170, 170) 10px 10px;
  }



  
  @keyframes shadow_style {
    0% {
      /* color:#f3f3f3; */
      /* text-shadow: 
      1px 1px #aaa,
      2px 2px #aaa,
      3px 3px #aaa,
      4px 4px #aaa,
      5px 5px #aaa; */
      /* color: #889dcc; */
      --color-green: #009B3A;
      --color-yellow: #FFD700;
      --color-red: #EE2737;
      transform: scale(1.5, 1.5);
    }
    10% {
        /* text-shadow: 
      1px 1px #aaa,
      2px 2px #aaa,
      3px 3px #aaa,
      4px 4px #aaa,
      5px 5px #aaa; */
      /* color:#f3f3f3; */
      /* color: #788dbb; */
      --color-green: #009B3A;
      --color-yellow: #FFD700;
      --color-red: #EE2737;
      transform: scale(1.5, 1.5);
    }
    15% {
        /* text-shadow: 
      1px 1px #aaa,
      1px 1px #aaa,
      2px 2px #aaa; */
       /* color: #6479a7; */
       --color-green: #009B3A;
       --color-yellow: #FFD700;
       --color-red: #EE2737;
    }
    20% { 
        /* text-shadow: 
        1px 1px #aaa,
        2px 2px #aaa,
        3px 3px #aaa,
        4px 4px #aaa,
        5px 5px #aaa;    */
      /* color:#4e6695; */
      --color-green: #009B3A;
      --color-yellow: #FFD700;
      --color-red: #EE2737;
      transform: scale(1.1, 1.1);
    }
    75% {
        /* text-shadow: 
        1px 1px #aaa,
        2px 2px #aaa,
        3px 3px #aaa,
        4px 4px #aaa,
        5px 5px #aaa; */
      opacity: 1;
    }
    80% {
        /* text-shadow: 
        1px 1px #aaa,
        2px 2px #aaa,
        3px 3px #aaa,
        4px 4px #aaa,
        5px 5px #aaa; */
      opacity: 0;    
      /* color:#3A5C9F; */
      --color-green: #009B3A;
      --color-yellow: #FFD700;
      --color-red: #EE2737;
      transform: scale(0.85, 0.9);
    }
    
    100% {
      text-shadow: none; /* Assure la suppression des ombres */
      opacity: 0;
    }
  }

/* Masque le bouton à la fin de l'animation de la class "name" */
.hidden {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  pointer-events: none; /* Empêche l'interaction utilisateur */
}

  .container {
    text-align: center;
  }
  
  .container a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Bouton */
  .portfolio-button {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    /* color: #fff; */
    background: #B2BCAD;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
    display: inline-block;
  }

  .portfolio-button::before {
    content: "";
    position: absolute;
    border-radius: 40px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.8s ease-in-out;
  }
  
  .portfolio-button:hover::before {
    transform: scaleX(1);
  }
  
  .portfolio-button:hover {
    background: #C2C8C2;
    transform: translateY(-5px);
  }
  
  /* Animation de fade-in */
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
@media screen and (max-width: 768px) {
  .name {
    font-size: 23px;
  }

  .portfolio-button {
    padding: 0.9rem 1rem;
    font-size: 1rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 979px) {
  .name {
    font-size: 30px;
  }

  .portfolio-button {
    padding: 1rem 1.5rem;
    font-size: 1.1rem;
  }
  
}


