

  /* @import url('https://fonts.googleapis.com/css?family=Roboto:700,900'); */
  
  body {
    background: radial-gradient(#fff, #aaa);
    background-size: 100vw 100vh; 
    overflow: hidden;
    padding-top: 40vh;
  }
  
  .name {
    text-align: center;
    /* font-family: 'Roboto'; */
    font-family: "Bebas Neue", sans-serif;
    /* font-size: 12vmin; */
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 40px;
    animation: shadow_style 3s infinite;
    outline: none;
    /* white-space: nowrap; */
    color: #889dcc;
  }
  
  @keyframes shadow_style {
    0% {
      /* color:#f3f3f3; */
      text-shadow: 
      1px 1px #aaa,
      2px 2px #aaa,
      3px 3px #aaa,
      4px 4px #aaa,
      5px 5px #aaa;
      color: #889dcc;
      transform: scale(1.5, 1.5);
    }
    10% {
        text-shadow: 
      1px 1px #aaa,
      2px 2px #aaa,
      3px 3px #aaa,
      4px 4px #aaa,
      5px 5px #aaa;
      /* color:#f3f3f3; */
      color: #788dbb;
      transform: scale(1.5, 1.5);
    }
    15% {
        text-shadow: 
      1px 1px #aaa,
      1px 1px #aaa,
      2px 2px #aaa;
       color: #6479a7;
    }
    20% { 
        text-shadow: 
        1px 1px #aaa,
        2px 2px #aaa,
        3px 3px #aaa,
        4px 4px #aaa,
        5px 5px #aaa;   
      color:#4e6695;
      transform: scale(1.1, 1.1);
    }
    75% {
        text-shadow: 
        1px 1px #aaa,
        2px 2px #aaa,
        3px 3px #aaa,
        4px 4px #aaa,
        5px 5px #aaa;
      opacity: 1;
    }
    80% {
        text-shadow: 
        1px 1px #aaa,
        2px 2px #aaa,
        3px 3px #aaa,
        4px 4px #aaa,
        5px 5px #aaa;
      opacity: 0;    
      color:#3A5C9F;
      transform: scale(0.85, 0.9);
    }
    
    100% {
      text-shadow: none; /* Assure la suppression des ombres */
      opacity: 0;
    }
  }

/* Masque le bouton à la fin de l'animation de la class "name" */
.hidden {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  pointer-events: none; /* Empêche l'interaction utilisateur */
}

  .container {
    text-align: center;
  }
  
  .container a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Bouton */
  .portfolio-button {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    /* color: #fff; */
    background: #889dcc;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
    display: inline-block;
  }

  .portfolio-button::before {
    content: "";
    position: absolute;
    border-radius: 40px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.8s ease-in-out;
  }
  
  .portfolio-button:hover::before {
    transform: scaleX(1);
  }
  
  .portfolio-button:hover {
    background: #6679a5;
    transform: translateY(-5px);
  }
  
  /* Animation de fade-in */
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
@media screen and (max-width: 768px) {
  .name {
    font-size: 23px;
  }

  .portfolio-button {
    padding: 0.9rem 1rem;
    font-size: 1rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 979px) {
  .name {
    font-size: 30px;
  }

  .portfolio-button {
    padding: 1rem 1.5rem;
    font-size: 1.1rem;
  }
  
}


